* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(255, 223, 96), rgb(255, 153, 153)) no-repeat;
}

.header {
    margin-top: 50px;
    text-align: center;
}

.info {
    margin-top: 50px;
    text-align: center;
}

.grid {
    margin: 0 auto;
    margin-top: 20px;

    width: 400px;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
    
}

.cell {
    position: relative;
    background-color: wheat;
    outline: 1px solid black;
    width: 33.333%;
    height: 33.333%;
}

.mark {
    width: 100px;
    height: 100px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mark.cross {
    position: relative;
}

.mark.cross::before, 
.mark.cross::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: grey;
    border-radius: 20px;
}

.mark.cross::before {
    transform: rotate(45deg);
    left: 50%;
    width: 20%;
    margin-left: -10%;
    height: 100%;
    box-shadow: 3px 3px black;
}

.mark.cross::after {
    transform: rotate(45deg);
    top: 50%;
    height: 20%;
    margin-top: -10%;
    width: 100%;
    box-shadow: 3px 3px black;
}

.cross-patch {
    display: none;
    position: absolute;
    left: 0;
    width: 20px;
    margin: 51px 0px 0px 53px;
    height: 39px;
    border-radius: 20px;
    transform: rotate(45deg);
    background-color: gray;
    z-index: 10000;
}

.cross-patch.visiable {
    display: block;
}

.mark.oval {
    position: relative;
}

.mark.oval::before, 
.mark.oval::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: grey;
    border-radius: 100px;
}

.mark.oval::before {
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px black;
}

.mark.oval::after {
    background: wheat;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px -3px black;
}


.btn-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

.reset {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cell.test {
    background-color: black;
}

