* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right bottom, rgb(255, 223, 96), rgb(255, 153, 153)) no-repeat;
}

.header {
    font-family: 'Varela Round', serif;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}

.info {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Varela Round', serif;
}

/* grid */
.grid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 400px;
    
    
    margin-top: 40px;



    display: flex;
    flex-wrap: wrap;
    
}

.cell {
    position: relative;
    width: 33.333%;
    height: 33.333%;
}

.cell::before {
    content: "";
    position: absolute;
    border-radius: 20px;
    bottom: -10px;
    left: -10%;
    width: 120%;
    height: 20px;
    background: grey;
    z-index: 300;
}

.cell::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    right: -10px;
    top: -10%;
    width: 20px;
    height: 120%;
    background: grey;
    z-index: 300;
}

.bottom-border.cell::before {
    display: none;
}

.right-border.cell::after {
    display: none;
}

.mark {
    width: 100px;
    height: 100px;

    background-color: transparent;
    border-radius: 100px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mark.winner {
    background-color: rgb(220, 50, 50);
}

.mark.cross {
    position: relative;
}

.mark.cross::before, 
.mark.cross::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: grey;
    border-radius: 20px;
}

.mark.cross::before {
    transform: rotate(45deg);
    left: 50%;
    width: 20%;
    margin-left: -10%;
    height: 100%;
    box-shadow: 3px 3px black;
}

.mark.cross::after {
    transform: rotate(45deg);
    top: 50%;
    height: 20%;
    margin-top: -10%;
    width: 100%;
    box-shadow: 3px 3px black;
}

.cross-patch {
    display: none;
    position: absolute;
    left: 0;
    width: 20px;
    margin: 51px 0px 0px 53px;
    height: 39px;
    border-radius: 20px;
    transform: rotate(45deg);
    background-color: gray;
    z-index: 10000;
}

.cross-patch.visiable {
    display: block;
}

.mark.oval {
    position: relative;
}

.mark.oval::before, 
.mark.oval::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: radial-gradient(circle at center, transparent 40%, grey 40%);
    border-radius: 100px;
}

.mark.oval::before {
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px black;
}

.mark.oval::after {
    background: transparent;
    width: 51%;
    height: 51%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px -3px black;
}

/* reset button */
.btn-container {
    margin-top: 500px;
    position: relative;
    width: 100%;
}

.reset {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 120px;
    height: 60px;
    border: none;
    outline: none;
    background: grey;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 20px;
    font-family: 'Varela Round', serif;
    
    cursor: pointer;

    transition: 0.1s background linear,
                0.1s color linear;
}

.reset:hover {
    background: rgb(235, 235, 235);
    color: black;
}

